

<!-- 
  탭의 데이터는 항상 고정적인건 아니다. 
  항상 Swipe가 되어야 한다.
--><!-- 메뉴 TAB -->  
<app-header></app-header>
<app-menu-tab></app-menu-tab> 


<footer class="footer">
  <div class="content has-text-centered">
    <p>
      백종원 메뉴판
    </p>
  </div>
</footer>
<!-- <mat-tab-group>
  <mat-tab label="Tab 1">

    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>

  </mat-tab>
  <mat-tab label="Tab 2">
    <mat-list role="list" >
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
      
    </mat-list>
  </mat-tab>
  <mat-tab label="Tab 2">
    Content 2
  </mat-tab>
</mat-tab-group>
 -->